* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}
.container {
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 25px;
    height: auto;
}
a {
    text-decoration: none;
}
ul,
li {
    list-style-type: none;
}
html {
    height: 100%;
}
.overflow {
    overflow: hidden;
}
.map{
    width: 100%;
    height: auto;
    padding-bottom: 100px;

}
#map{
    width: 940px;
    height: 260px;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
}