.questions {
    width: 100%;
    height: auto;
    padding-bottom: 114px;
    font-family: "Montserrat";
    &__title {
        min-width: 283px;
        padding-bottom: 40px;
        color: rgb(72, 124, 171);
        font-family: inherit;
        font-size: 36px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: 0%;
        text-align: center;
        text-transform: uppercase;
        @media (max-width: 430px) {
            letter-spacing: 4px;
        }
    }
    &__list {
        max-width: 940px;
        min-height: 380px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        &-item {
            position: relative;
            width: 100%;
            height: 100%;
            min-height: 17px;
            border-radius: 20px;
            box-shadow: 2px 7px 14px 0px rgba(39, 74, 109, 0.1);
            background: rgb(255, 255, 255);
            flex-shrink: 0;
            padding-top: 26px;
            padding-right: 90px;
            padding-bottom: 31px;
            padding-left: 40px;
            @media (max-width: 526px) {
                padding-right: 52px;
            }
            @media (max-width: 390px) {
                padding-right: 39px;
            }
        }
    }
    .list {
        &__item-open {
            position: absolute;
            right: 40px;
            top: 23px;
            width: 30px;
            height: 30px;
            background: rgb(72, 124, 171);
            border-radius: 50%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            @media (max-width: 526px) {
                right: 22px;
            }
            @media (max-width: 390px) {
                right: 9px;
            }
            span {
                display: block;
                width: 14px;
                height: 3px;
                background-color: #fff;
                border-radius: 10px;
                transition-property: transform;
                transition-duration: 0.3s;
                &:nth-child(2) {
                    transform: rotate(90deg) translateX(-17.9%);
                }
            }
            &_active {
                span {
                    &:nth-child(2) {
                        transform: rotate(0) translateX(0) translateY(-3px);
                    }
                }
            }
        }
        &__item-title {
            display: block;
            max-width: max-content;
            min-height: 23px;
            color: rgb(82, 82, 82);
            font-family: inherit;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0%;
            text-align: left;
            @media (max-width: 425px) {
                font-size: 16px;
            }
        }
        &__item-content {
            position: absolute;
            scale: 0;
            width: 0;
            height: 0;
            &_active {
                transition-property: scale, width, height;
                transition-duration: 0.5s;
                position: static;
                scale: 1;
                width: auto;
                height: auto;
                margin-top: 40px;
            }
            @media (max-width: 430px) {
                margin-top: 16px;
            }
            p {
                color: rgb(82, 82, 82);
                font-family: inherit;
                font-size: 16px;
                font-weight: 400;
                line-height: 120%;
                letter-spacing: 0%;
                text-align: left;
                margin-top: 20px;
                list-style-type: circle !important;
                @media (max-width: 425px) {
                    font-size: 15px;
                }
            }
            &-list {
                padding-left: 20px;
            }
            &-item {
                color: rgb(82, 82, 82);
                font-family: inherit;
                font-size: 16px;
                font-weight: 400;
                line-height: 120%;
                letter-spacing: 0%;
                text-align: left;
                margin-top: 20px;
                list-style-type: circle !important;
                @media (max-width: 425px) {
                    font-size: 15px;
                }
            }
        }
    }
}
